# =========================
# FRONTEND
# =========================

frontend/node_modules/
frontend/dist/


# =========================
# BACKEND
# =========================

backend/venv/
backend/__pycache__/
backend/routes/__pycache__/
backend/*.pyc


# =========================
# ROOT VENV
# =========================

venv/


# =========================
# ENVIRONMENT FILES
# =========================

.env
*.env


# =========================
# LOG FILES
# =========================

*.log


# =========================
# VS CODE
# =========================

.vscode/


# =========================
# SYSTEM FILES
# =========================

.DS_Store
Thumbs.db