# =========================
# FRONTEND
# =========================

frontend/node_modules/
frontend/dist/

# =========================
# BACKEND
# =========================

backend/venv/
backend/__pycache__/
backend/routes/__pycache__/
backend/*.pyc

# =========================
# ROOT VENV
# =========================

venv/

# =========================
# ENVIRONMENT FILES
# =========================

.env
*.env

# =========================
# LOG FILES
# =========================

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# BUILD / CACHE FILES
# =========================

coverage/
dist/
.cache/
.parcel-cache/
.vite/
.nyc_output/

# =========================
# NODE MODULES
# =========================

node_modules/

# =========================
# VS CODE
# =========================

.vscode/
.vscode-test/

# =========================
# SYSTEM FILES
# =========================

.DS_Store
Thumbs.db